[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

statsd = "*"
numpy = "*"
prettytable = "*"
matplotlib = "*"
fakesleep = "*"
sphinx = "*"
pytest = "*"
"flake8" = "*"
pytest-cov = "*"


[dev-packages]

"e1839a8" = {path = ".", editable = true}
ipython = "*"


[requires]

python_version = "3.6"
